* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1vh;
}

.logo img {
  height: 100px;
  text-align: center;
}

.navbar {
  background: #0095fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 5vh;
  position: relative;
  z-index: 2;
}

li {
  background: #0095fd;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

li:hover {
  filter: brightness(66%);
  cursor: pointer;
}

li a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

li a:visited {
  color: aliceblue;
}

.fa-bars {
  display: none;
  cursor: pointer;
  color: #0095fd;
  font-size: 25px;
}

.menu.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 876px) {
  .fa-bars {
    display: flex;
  }

  .menu {
    padding: 2%;
  }
}

/* #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.fa-bars {
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
}

.menu a:hover {
  color: #1493ff;
}

.container {
  margin: auto 5px;
}

.standings {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.standings,
.results,
.goalscorers {
  padding-top: 5vh;
}

.schedule {
  padding-top: 10vh;
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
  transition: 0.5s;
}

tr:nth-child(odd) {
  transition: 0.5s;
}

tr:hover {
  background-color: #1493ff;
  color: white;
}

.tableHeading:hover {
  background-color: transparent;
  color: black;
}

.title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.title:hover {
  color: #1493ff;
  cursor: pointer;
}

.points {
  font-weight: bold;
}

.scorers,
.matches {
  display: flex;
  justify-content: center;
  padding: 2.5vh;
}

.winner {
  font-weight: bold;
}

.schedule {
  background: turquoise;
  height: 50vh;
}
.standings {
  background: red;

  height: 50vh;
}

#standingsHome {
  height: 50vh;
}

#standingsHome img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
/* height: 250px; */
/* } */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* @media (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu a {
    margin-right: 0;
  }

  .standings,
  .results,
  .goalscorers {
    padding-top: 5vh;
  }

  .schedule {
    margin-top: 10vh;
    padding-top: 10vh;
  }

  .standings {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
} */
