* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh;
}

.logo img {
  height: 100px;
  text-align: center;
}

.navbar {
  background: #0095fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 5vh;
  position: relative;
  z-index: 2;
}

li {
  background: #0095fd;
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

li:hover {
  filter: brightness(66%);
  cursor: pointer;
}

li a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

li a:visited {
  color: aliceblue;
}

.menuBtn {
  display: none;
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
  transition: 0.5s;
}

tr:nth-child(odd) {
  transition: 0.5s;
}

tr:hover {
  background-color: #0095fd;
  color: white;
}

.tableHeading:hover {
  background-color: transparent;
  color: black;
}

td {
  font-size: 18px;
}

.title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 10px;
}

.title:hover {
  color: #0095fd;
  cursor: pointer;
}

/* .schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
} */

.standings,
.results,
.goalscorers {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 25px;
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between; */
}

.schedule {
  padding: 25px;
}

.schedule,
#standings,
#results,
#goalscorers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.teamName {
  text-align: left;
}

.standings,
.goalscorers {
  background: aliceblue;
}

.points {
  font-weight: bold;
}

.winner {
  font-weight: bold;
}

footer {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-arrow-circle-up {
  color: #fff;
  font-size: 18px;
}

/* .schedule h1 {
  margin-bottom: 10px;
} */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: aliceblue;
  box-shadow: inset 0 0 5px #0095fd;
}
::-webkit-scrollbar-thumb {
  background-color: #0095fd;
}

@media (max-width: 1068px) {
  .logo {
    /* justify-content: space-between; */
    justify-content: space-around;
    height: auto;
  }
  .logo img {
    height: 75px;
  }
  /* .navbar {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  } */
  .menu {
    flex-direction: column;
    height: auto;
  }
  .menu li {
    padding: 20px;
  }

  .menuBtn {
    display: flex;
    font-size: 40px;
    cursor: pointer;
  }

  .schedule,
  .standings,
  .results,
  .goalscorers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .silhouette1,
  .silhouette2,
  .silhouette3,
  .silhouette4,
  .silhouette5,
  .silhouette6 {
    display: none;
  }

  .navbar {
    max-height: 0;
    transition: max-height 1s ease;
    overflow: hidden;
  }

  .navbar.active {
    max-height: 50vh;
    transition: max-height 1s ease;
  }
}

/* #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.fa-bars {
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
}

.menu a:hover {
  color: #1493ff;
}

.container {
  margin: auto 5px;
}

.standings {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.standings,
.results,
.goalscorers {
  padding-top: 5vh;
}



.schedule {
  padding-top: 10vh;
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
  transition: 0.5s;
}

tr:nth-child(odd) {
  transition: 0.5s;
}

tr:hover {
  background-color: #1493ff;
  color: white;
}

.tableHeading:hover {
  background-color: transparent;
  color: black;
}

.title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.title:hover {
  color: #1493ff;
  cursor: pointer;
}

.points {
  font-weight: bold;
}

.scorers,
.matches {
  display: flex;
  justify-content: center;
  padding: 2.5vh;
}

.winner {
  font-weight: bold;
}

.schedule {
  background: turquoise;
  height: 50vh;
}
.standings {
  background: red;

  height: 50vh;
}

#standingsHome {
  height: 50vh;
}

#standingsHome img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
/* height: 250px; */
/* } */

/* @media (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu a {
    margin-right: 0;
  }

  .standings,
  .results,
  .goalscorers {
    padding-top: 5vh;
  }

  .schedule {
    margin-top: 10vh;
    padding-top: 10vh;
  }

  .standings {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
} */
