* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: rgba(243, 241, 239, 1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
}

.menu a:hover {
  color: #1493ff;
}

.container {
  margin: auto 5px;
}

.standings {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.standings,
.results,
.goalscorers {
  padding-top: 5vh;
}

.schedule {
  padding-top: 10vh;
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
  transition: 0.5s;
}

tr:nth-child(odd) {
  transition: 0.5s;
}

tr:hover {
  background-color: #1493ff;
  color: white;
}

.tableHeading:hover {
  background-color: transparent;
  color: black;
}

.title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.title:hover {
  color: #1493ff;
  cursor: pointer;
}

.points {
  font-weight: bold;
}

.scorers,
.matches {
  display: flex;
  justify-content: center;
  padding: 2.5vh;
}

.winner {
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu a {
    margin-right: 0;
  }

  .standings,
  .results,
  .goalscorers {
    padding-top: 5vh;
  }

  .schedule {
    margin-top: 10vh;
    padding-top: 10vh;
  }

  .standings {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
